
 <div class="login-page">
  <section class="login">
    <div class="title-container">
      <div class="title-container__pizza-container">
        <img src="../../../assets/images/pizza.png" />
      </div>
      <span class="title-container__text">khaliloquy</span>
    </div>
    <h2>Log in</h2>
    <form 
      (ngSubmit)="onSubmit()"
      class="form" 
      #loginForm="ngForm" 
      name="login-form" 
      novalidate>
      <div class="group">
        <label for="username">Username</label>
        <input 
          id="username" 
          type="text" 
          required 
          [(ngModel)]="user.username" 
          name="username" 
          minlength="3"
          maxlength="30"
          #name="ngModel"
        />
        <div 
          [ngClass]="{'hidden': !(name.invalid && name.touched)}"
          class="form-error">
            Name is required
        </div>
      </div>
      <div class="group">
        <label for="password">Password</label>
        <input 
          id="password" 
          type="password" 
          required 
          [(ngModel)]="user.password" 
          name="password" 
          #password="ngModel"
        />
        <div 
          [ngClass]="{'hidden': !(password.invalid && password.touched)}"
          class="form-error">
            A valid password is required
        </div>
      </div>
      <button 
        [disabled]="!loginForm.form.valid"
        type="submit">
        Continue
      </button>
    </form>
    <a routerLink="/signup" routerLinkActive="active">Don't have an account?</a>
  </section>
  <section class="message">
    <h1>{{ message }}</h1>
  </section>
</div>