<div class="friends">

    <!-- 
      Here's our first use of a child component.
      We can use this child component by it's selector.
      @see app/components/navigation/navigation.component.ts's
      component decorator. 
     -->
  
    <app-navigation></app-navigation>

    <!-- 
      Friends / contact-list

      Q: Break this section of the app into a component called
      <contact-list>? It would look really clean if we just
      did that and specified the props that we want to pass in 
      here and got all of the outputs that we needed as well.
     -->

    <section class="friends-section">
      <h1>Chat</h1>
      <div class="search">
        <img class="search-button" src="../../../assets/images/ic_search_24px.svg"/>
        <input 
          id="friend-search" 
          [(ngModel)]="searchText" 
          placeholder="Search" 
          type="text"
          #friendsearch
        />
        <img 
          (click)="clearSearchText()"
          [ngStyle]="{ 'opacity': searchText ? 0.4 : 0 }" 
          class="clear-button" 
          src="../../../assets/images/ic_close_24px.svg"
        />
      </div>
      <!-- Existing friends -->
      <li 
        (click)="changeConversation(friend)" 
        class="friend" 
        *ngFor="let friend of friends | searchFriends : searchText">
        <app-letter-avatar username="{{friend.username}}"></app-letter-avatar>
        <div class="text-container">
          <div class="username">{{friend.username}}</div>
          <div class="last-message">{{friend.getLastMessage()}}</div>
        </div>
      </li>

      <!-- New friend from search results -->
      <li 
        (click)="addFriend(friendsSearchResult)" 
        class="friend" 
        *ngIf="friendsSearchResult">
        <app-letter-avatar username="{{friendsSearchResult.username}}"></app-letter-avatar>
        <div class="text-container">
          <div class="username">{{friendsSearchResult.username}}</div>
          <button class="add-friend">Add friend</button>
        </div>
      </li>

      <div *ngIf="(friends | searchFriends: searchText).length === 0 && !isLoadingFriends && !friendsSearchResult">
        Couldn't find this friend. Do you want to add them?
      </div>
      
      <app-spinner *ngIf="isLoadingFriends"></app-spinner>
    </section>

    <!-- 
      Current conversation component.
     -->
    <app-conversation 
      [conversation]="currentConversation"
      (sentMessage)="onMessageSent($event)">
    </app-conversation>

  </div>